body {
    margin: 0;
    padding: 0;
    font-family: 'Proza Libre', sans-serif;
    background-image: url("krata.png");
    background-position: center;
    background-attachment: fixed;
}

#container {
    background: white;
    width: 598px;
    height: 600px;
    margin: 25px auto 0 auto;
    border: 1px solid black;
    position: relative;
    text-align: center;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

#result {
    width: 80%;
    max-width: 80%;
    height: 40%;
    max-height: 40%;
    margin: 20px auto 0 auto;
    font-size: 1em;
}
