* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #202938;
    font-family: 'Raleway', sans-serif;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 50vw;
    text-align: center;
    margin: 40px auto;
    justify-content: space-evenly;
    color: white;
}

.dice {
    width: 180px;
    height: 180px;
    background-color: white;
    padding: 0;
    margin: 0;
}

.action_table {
    width: 100%;
    margin-top: 25px;
}

.action_title {
    margin-top: 10px;
    text-transform: uppercase;
}

.multiplier {
    background-color: #46a351;
    padding: 0px 10px 5px 10px;
}

.number {
    font-size: 20px;
}

.table_inputs {
    padding-top: 20px;
}

.title {
    flex-basis: 100%;
    padding: 10px;
    border-bottom: 1px solid white;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.action {
    flex-basis: 45%;
    height: 250px;
    background-color: #313844;
    margin: 0 auto;
}

.bet {
    background-color: #313844;
    margin-top: 25px;
    display: flex;
    flex-basis: 95%;
}

.bet_table {
    margin: 25px 0 25px 0;
    width: 100%;
}

.bet_title {
    text-transform: uppercase;
    font-size: 25px;
    width: 33.33%;
    color: #a9aaad;
}

.bet_title:nth-child(2) {
    font-weight: bold;
    color: white;
}

.bet_sub {
    padding-top: 25px;
}

.bet_number {
    background-color: #555e6d;
    border: 1px solid #747b87;
    color: #41bf4f;
    font-weight: bold;
    text-align: center;
}

.btn {
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 30px;
}

input[type="radio"] {
    transform: scale(2);
}

.slot0 {
    background-image: url("img/0.png");
}

.slot1 {
    background-image: url("img/1.png");
}

.slot2 {
    background-image: url("img/2.png");
}

.slot3 {
    background-image: url("img/3.png");
}

.slot4 {
    background-image: url("img/4.png");
}

.slot5 {
    background-image: url("img/5.png");
}

.slot6 {
    background-image: url("img/6.png");
}

#footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
}

#footer p {
    font-size: 25px;
    color: white;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

@media (orientation: portrait) {
    .container {
        width: 90vw;
    }
    .bet * {
        font-size: 15px;
    }
    .dice {
        margin-top: 5px;
    }
    .number {
        font-size: 15px;
    }
}
