body {
    margin: 0;
    padding: 0;
    font-family: 'Proza Libre', sans-serif;
    background-image: url("krata.png");
    background-position: center;
    background-attachment: fixed;
}

#box {
    background: white;
    width: 598px;
    height: 600px;
    margin: 25px auto 0 auto;
    border: 1px solid black;
    position: relative;
}

#container {
    width: 90%;
    height: 215px;
    background: white;
    margin: 25px auto 0 auto;
    display: flex;
}

.element {
    width: 35%;
    height: 100%;
}

.functionElement {
    width: 30%;
    text-align: center;
}

.functionElement .title {
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 177, 209);
}

.shift {
    width: 100%;
    height: 40px;
    margin-top: 5px;
    display: flex;
    align-items: center
}

.step {
    font-size: 25px;
    user-select: none;
}

.step span {
    cursor: pointer;
}

.step:nth-child(1) {
    text-align: left;
    width: 20%;
}

.step:nth-child(3) {
    text-align: right;
    width: 20%;
}

.amount {
    text-align: center;
    width: 60%;
}


hr {
    margin: 0;
    padding: 0;
}

.alphabet {
    width: 100%;
    height: 40px;
    font-size: 0.7em;
    line-height: 40px;
}

.title {
    width: 100%;
    height: 60px;
    background-color: rgb(242, 244, 246);
    border: 1px solid rgb(169, 169, 169);;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.input {
    width: 100%;
}

.inputElement {
    margin: 0 auto;
    display: block;
    width: 90%;
    height: 140px;
    resize: none;
    border-top: none;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}